<h2>Reporter output</h2><table><tr><td>Click on bank manager login link[[ChromeDriver: chrome on WINDOWS (c5b584e8e24b1c2b427d86bb2462eeaf)] -> xpath: //button[text()='Bank Manager Login']]</td></tr>
<tr><td>CLick on add customer tab[[ChromeDriver: chrome on WINDOWS (c5b584e8e24b1c2b427d86bb2462eeaf)] -> xpath: //button[contains(text(),'Add Customer')]]</td></tr>
<tr><td>Enter first name [[ChromeDriver: chrome on WINDOWS (c5b584e8e24b1c2b427d86bb2462eeaf)] -> xpath: //div[1]/input[1]]</td></tr>
<tr><td>Enter last name[[ChromeDriver: chrome on WINDOWS (c5b584e8e24b1c2b427d86bb2462eeaf)] -> xpath: //input[@ng-model='lName']]</td></tr>
<tr><td>Enter postcode[[ChromeDriver: chrome on WINDOWS (c5b584e8e24b1c2b427d86bb2462eeaf)] -> xpath: //input[@ng-model='postCd']]</td></tr>
<tr><td>Click on add to customer button[[ChromeDriver: chrome on WINDOWS (c5b584e8e24b1c2b427d86bb2462eeaf)] -> xpath: //button[@type='submit']]</td></tr>
<tr><td>Get the text from alert</td></tr>
<tr><td>Click on ok button in alert</td></tr>
</table>