<h2>Reporter output</h2><table><tr><td>Click on bank manager login link[[ChromeDriver: chrome on WINDOWS (12558fa1b527a37c25eecc0ae5596132)] -> xpath: //button[text()='Bank Manager Login']]</td></tr>
<tr><td>CLick on add customer tab[[ChromeDriver: chrome on WINDOWS (12558fa1b527a37c25eecc0ae5596132)] -> xpath: //button[contains(text(),'Add Customer')]]</td></tr>
<tr><td>Enter first name [[ChromeDriver: chrome on WINDOWS (12558fa1b527a37c25eecc0ae5596132)] -> xpath: //div[1]/input[1]]</td></tr>
<tr><td>Enter last name[[ChromeDriver: chrome on WINDOWS (12558fa1b527a37c25eecc0ae5596132)] -> xpath: //input[@ng-model='lName']]</td></tr>
<tr><td>Enter postcode[[ChromeDriver: chrome on WINDOWS (12558fa1b527a37c25eecc0ae5596132)] -> xpath: //input[@ng-model='postCd']]</td></tr>
<tr><td>Click on add to customer button[[ChromeDriver: chrome on WINDOWS (12558fa1b527a37c25eecc0ae5596132)] -> xpath: //button[@type='submit']]</td></tr>
<tr><td>Get the text from alert</td></tr>
<tr><td>Click on ok button in alert</td></tr>
<tr><td>Click on open account tab[[ChromeDriver: chrome on WINDOWS (12558fa1b527a37c25eecc0ae5596132)] -> xpath: //button[contains(text(),'Open Account')]]</td></tr>
<tr><td>Search customer name[[ChromeDriver: chrome on WINDOWS (12558fa1b527a37c25eecc0ae5596132)] -> id: userSelect]</td></tr>
<tr><td>Select currency from dropdown[[ChromeDriver: chrome on WINDOWS (12558fa1b527a37c25eecc0ae5596132)] -> id: currency]</td></tr>
<tr><td>Click on process button[[ChromeDriver: chrome on WINDOWS (12558fa1b527a37c25eecc0ae5596132)] -> xpath: //button[contains(text(),'Process')]]</td></tr>
<tr><td>Get text from alert</td></tr>
<tr><td>CLick on ok in alert</td></tr>
</table>