<h2>Reporter output</h2><table><tr><td>Click on bank manager login link[[ChromeDriver: chrome on WINDOWS (39f877699ad00ff078780336d7a6ce87)] -> xpath: //button[text()='Bank Manager Login']]</td></tr>
<tr><td>CLick on add customer tab[[ChromeDriver: chrome on WINDOWS (39f877699ad00ff078780336d7a6ce87)] -> xpath: //button[contains(text(),'Add Customer')]]</td></tr>
<tr><td>Enter first name [[ChromeDriver: chrome on WINDOWS (39f877699ad00ff078780336d7a6ce87)] -> xpath: //div[1]/input[1]]</td></tr>
<tr><td>Enter last name[[ChromeDriver: chrome on WINDOWS (39f877699ad00ff078780336d7a6ce87)] -> xpath: //input[@ng-model='lName']]</td></tr>
<tr><td>Enter postcode[[ChromeDriver: chrome on WINDOWS (39f877699ad00ff078780336d7a6ce87)] -> xpath: //input[@ng-model='postCd']]</td></tr>
<tr><td>Click on add to customer button[[ChromeDriver: chrome on WINDOWS (39f877699ad00ff078780336d7a6ce87)] -> xpath: //button[@type='submit']]</td></tr>
<tr><td>Get the text from alert</td></tr>
<tr><td>Click on ok button in alert</td></tr>
<tr><td>Click on bank manager login link[[ChromeDriver: chrome on WINDOWS (059592c83e72a0fd80ce8e4746d5fa61)] -> xpath: //button[text()='Bank Manager Login']]</td></tr>
<tr><td>CLick on add customer tab[[ChromeDriver: chrome on WINDOWS (059592c83e72a0fd80ce8e4746d5fa61)] -> xpath: //button[contains(text(),'Add Customer')]]</td></tr>
<tr><td>Enter first name [[ChromeDriver: chrome on WINDOWS (059592c83e72a0fd80ce8e4746d5fa61)] -> xpath: //div[1]/input[1]]</td></tr>
<tr><td>Enter last name[[ChromeDriver: chrome on WINDOWS (059592c83e72a0fd80ce8e4746d5fa61)] -> xpath: //input[@ng-model='lName']]</td></tr>
<tr><td>Enter postcode[[ChromeDriver: chrome on WINDOWS (059592c83e72a0fd80ce8e4746d5fa61)] -> xpath: //input[@ng-model='postCd']]</td></tr>
<tr><td>Click on add to customer button[[ChromeDriver: chrome on WINDOWS (059592c83e72a0fd80ce8e4746d5fa61)] -> xpath: //button[@type='submit']]</td></tr>
<tr><td>Get the text from alert</td></tr>
<tr><td>Click on ok button in alert</td></tr>
<tr><td>Click on open account tab[[ChromeDriver: chrome on WINDOWS (059592c83e72a0fd80ce8e4746d5fa61)] -> xpath: //button[contains(text(),'Open Account')]]</td></tr>
<tr><td>Search customer name[[ChromeDriver: chrome on WINDOWS (059592c83e72a0fd80ce8e4746d5fa61)] -> id: userSelect]</td></tr>
<tr><td>Select currency from dropdown[[ChromeDriver: chrome on WINDOWS (059592c83e72a0fd80ce8e4746d5fa61)] -> id: currency]</td></tr>
<tr><td>Click on process button[[ChromeDriver: chrome on WINDOWS (059592c83e72a0fd80ce8e4746d5fa61)] -> xpath: //button[contains(text(),'Process')]]</td></tr>
<tr><td>Get text from alert</td></tr>
<tr><td>CLick on ok in alert</td></tr>
<tr><td>Click on bank manager login link[[ChromeDriver: chrome on WINDOWS (c8a91963750a23d28ee5fe9aea997682)] -> xpath: //button[text()='Bank Manager Login']]</td></tr>
<tr><td>CLick on add customer tab[[ChromeDriver: chrome on WINDOWS (c8a91963750a23d28ee5fe9aea997682)] -> xpath: //button[contains(text(),'Add Customer')]]</td></tr>
<tr><td>Enter first name [[ChromeDriver: chrome on WINDOWS (c8a91963750a23d28ee5fe9aea997682)] -> xpath: //div[1]/input[1]]</td></tr>
<tr><td>Enter last name[[ChromeDriver: chrome on WINDOWS (c8a91963750a23d28ee5fe9aea997682)] -> xpath: //input[@ng-model='lName']]</td></tr>
<tr><td>Enter postcode[[ChromeDriver: chrome on WINDOWS (c8a91963750a23d28ee5fe9aea997682)] -> xpath: //input[@ng-model='postCd']]</td></tr>
<tr><td>Click on add to customer button[[ChromeDriver: chrome on WINDOWS (c8a91963750a23d28ee5fe9aea997682)] -> xpath: //button[@type='submit']]</td></tr>
<tr><td>Get the text from alert</td></tr>
<tr><td>Click on ok button in alert</td></tr>
<tr><td>Click on open account tab[[ChromeDriver: chrome on WINDOWS (c8a91963750a23d28ee5fe9aea997682)] -> xpath: //button[contains(text(),'Open Account')]]</td></tr>
<tr><td>Search customer name[[ChromeDriver: chrome on WINDOWS (c8a91963750a23d28ee5fe9aea997682)] -> id: userSelect]</td></tr>
<tr><td>Select currency from dropdown[[ChromeDriver: chrome on WINDOWS (c8a91963750a23d28ee5fe9aea997682)] -> id: currency]</td></tr>
<tr><td>Click on process button[[ChromeDriver: chrome on WINDOWS (c8a91963750a23d28ee5fe9aea997682)] -> xpath: //button[contains(text(),'Process')]]</td></tr>
<tr><td>Get text from alert</td></tr>
<tr><td>CLick on ok in alert</td></tr>
<tr><td>Click on home button[[ChromeDriver: chrome on WINDOWS (c8a91963750a23d28ee5fe9aea997682)] -> xpath: //button[text()='Home']]</td></tr>
<tr><td>Click on customer login link[[ChromeDriver: chrome on WINDOWS (c8a91963750a23d28ee5fe9aea997682)] -> xpath: //button[contains(text(),'Customer Login')]]</td></tr>
<tr><td>Select your name[[ChromeDriver: chrome on WINDOWS (c8a91963750a23d28ee5fe9aea997682)] -> id: userSelect]</td></tr>
<tr><td>Click on login button[[ChromeDriver: chrome on WINDOWS (c8a91963750a23d28ee5fe9aea997682)] -> xpath: //button[text()='Login']]</td></tr>
<tr><td>Click on deposit tab[[ChromeDriver: chrome on WINDOWS (c8a91963750a23d28ee5fe9aea997682)] -> xpath: //button[contains(text(),'Deposit')]]</td></tr>
<tr><td>Enter amount[[ChromeDriver: chrome on WINDOWS (c8a91963750a23d28ee5fe9aea997682)] -> xpath: //input[@ng-model='amount']]</td></tr>
<tr><td>Click on deposit button[[ChromeDriver: chrome on WINDOWS (c8a91963750a23d28ee5fe9aea997682)] -> xpath: //button[text()='Deposit']]</td></tr>
<tr><td>Get deposit successful message[[ChromeDriver: chrome on WINDOWS (c8a91963750a23d28ee5fe9aea997682)] -> xpath: //span[text()='Deposit Successful']]</td></tr>
<tr><td>Click on bank manager login link[[ChromeDriver: chrome on WINDOWS (10773448fcfda3564f6648879efb3ee2)] -> xpath: //button[text()='Bank Manager Login']]</td></tr>
<tr><td>CLick on add customer tab[[ChromeDriver: chrome on WINDOWS (10773448fcfda3564f6648879efb3ee2)] -> xpath: //button[contains(text(),'Add Customer')]]</td></tr>
<tr><td>Enter first name [[ChromeDriver: chrome on WINDOWS (10773448fcfda3564f6648879efb3ee2)] -> xpath: //div[1]/input[1]]</td></tr>
<tr><td>Enter last name[[ChromeDriver: chrome on WINDOWS (10773448fcfda3564f6648879efb3ee2)] -> xpath: //input[@ng-model='lName']]</td></tr>
<tr><td>Enter postcode[[ChromeDriver: chrome on WINDOWS (10773448fcfda3564f6648879efb3ee2)] -> xpath: //input[@ng-model='postCd']]</td></tr>
<tr><td>Click on add to customer button[[ChromeDriver: chrome on WINDOWS (10773448fcfda3564f6648879efb3ee2)] -> xpath: //button[@type='submit']]</td></tr>
<tr><td>Get the text from alert</td></tr>
<tr><td>Click on ok button in alert</td></tr>
<tr><td>Click on home button[[ChromeDriver: chrome on WINDOWS (10773448fcfda3564f6648879efb3ee2)] -> xpath: //button[text()='Home']]</td></tr>
<tr><td>Click on customer login link[[ChromeDriver: chrome on WINDOWS (10773448fcfda3564f6648879efb3ee2)] -> xpath: //button[contains(text(),'Customer Login')]]</td></tr>
<tr><td>Select your name[[ChromeDriver: chrome on WINDOWS (10773448fcfda3564f6648879efb3ee2)] -> id: userSelect]</td></tr>
<tr><td>Click on login button[[ChromeDriver: chrome on WINDOWS (10773448fcfda3564f6648879efb3ee2)] -> xpath: //button[text()='Login']]</td></tr>
<tr><td>Verify logout tabBy.xpath: //button[text()='Logout']</td></tr>
<tr><td>CLick on Logout button[[ChromeDriver: chrome on WINDOWS (10773448fcfda3564f6648879efb3ee2)] -> xpath: //button[text()='Logout']]</td></tr>
<tr><td>Verify your name text[[ChromeDriver: chrome on WINDOWS (10773448fcfda3564f6648879efb3ee2)] -> xpath: //label[text()='Your Name :']]</td></tr>
<tr><td>Click on bank manager login link[[ChromeDriver: chrome on WINDOWS (92c7846574580c51f8e18beea2bdd9cc)] -> xpath: //button[text()='Bank Manager Login']]</td></tr>
<tr><td>CLick on add customer tab[[ChromeDriver: chrome on WINDOWS (92c7846574580c51f8e18beea2bdd9cc)] -> xpath: //button[contains(text(),'Add Customer')]]</td></tr>
<tr><td>Enter first name [[ChromeDriver: chrome on WINDOWS (92c7846574580c51f8e18beea2bdd9cc)] -> xpath: //div[1]/input[1]]</td></tr>
<tr><td>Enter last name[[ChromeDriver: chrome on WINDOWS (92c7846574580c51f8e18beea2bdd9cc)] -> xpath: //input[@ng-model='lName']]</td></tr>
<tr><td>Enter postcode[[ChromeDriver: chrome on WINDOWS (92c7846574580c51f8e18beea2bdd9cc)] -> xpath: //input[@ng-model='postCd']]</td></tr>
<tr><td>Click on add to customer button[[ChromeDriver: chrome on WINDOWS (92c7846574580c51f8e18beea2bdd9cc)] -> xpath: //button[@type='submit']]</td></tr>
<tr><td>Get the text from alert</td></tr>
<tr><td>Click on ok button in alert</td></tr>
<tr><td>Click on open account tab[[ChromeDriver: chrome on WINDOWS (92c7846574580c51f8e18beea2bdd9cc)] -> xpath: //button[contains(text(),'Open Account')]]</td></tr>
<tr><td>Search customer name[[ChromeDriver: chrome on WINDOWS (92c7846574580c51f8e18beea2bdd9cc)] -> id: userSelect]</td></tr>
<tr><td>Select currency from dropdown[[ChromeDriver: chrome on WINDOWS (92c7846574580c51f8e18beea2bdd9cc)] -> id: currency]</td></tr>
<tr><td>Click on process button[[ChromeDriver: chrome on WINDOWS (92c7846574580c51f8e18beea2bdd9cc)] -> xpath: //button[contains(text(),'Process')]]</td></tr>
<tr><td>Get text from alert</td></tr>
<tr><td>CLick on ok in alert</td></tr>
<tr><td>Click on home button[[ChromeDriver: chrome on WINDOWS (92c7846574580c51f8e18beea2bdd9cc)] -> xpath: //button[text()='Home']]</td></tr>
<tr><td>Click on customer login link[[ChromeDriver: chrome on WINDOWS (92c7846574580c51f8e18beea2bdd9cc)] -> xpath: //button[contains(text(),'Customer Login')]]</td></tr>
<tr><td>Select your name[[ChromeDriver: chrome on WINDOWS (92c7846574580c51f8e18beea2bdd9cc)] -> id: userSelect]</td></tr>
<tr><td>Click on login button[[ChromeDriver: chrome on WINDOWS (92c7846574580c51f8e18beea2bdd9cc)] -> xpath: //button[text()='Login']]</td></tr>
<tr><td>Click on deposit tab[[ChromeDriver: chrome on WINDOWS (92c7846574580c51f8e18beea2bdd9cc)] -> xpath: //button[contains(text(),'Deposit')]]</td></tr>
<tr><td>Enter amount[[ChromeDriver: chrome on WINDOWS (92c7846574580c51f8e18beea2bdd9cc)] -> xpath: //input[@ng-model='amount']]</td></tr>
<tr><td>Click on deposit button[[ChromeDriver: chrome on WINDOWS (92c7846574580c51f8e18beea2bdd9cc)] -> xpath: //button[text()='Deposit']]</td></tr>
<tr><td>Get deposit successful message[[ChromeDriver: chrome on WINDOWS (92c7846574580c51f8e18beea2bdd9cc)] -> xpath: //span[text()='Deposit Successful']]</td></tr>
<tr><td>Click on home button[[ChromeDriver: chrome on WINDOWS (92c7846574580c51f8e18beea2bdd9cc)] -> xpath: //button[text()='Home']]</td></tr>
<tr><td>Click on customer login link[[ChromeDriver: chrome on WINDOWS (92c7846574580c51f8e18beea2bdd9cc)] -> xpath: //button[contains(text(),'Customer Login')]]</td></tr>
<tr><td>Click to see screenshot</td></tr>
<tr><td><a target = "_blank" href=C:\Users\RAJ\IdeaProjects\xyz-bank-sw-5-factory-project-3-raj/test-output/html/customerShouldWithdrawMoneySuccessfullySun_Dec_11_15_48_05_GMT_2022.jpg>Screenshot</a></td></tr>
<tr><td><br></td></tr>
<tr><td><br></td></tr>
<tr><td><a target = "_blank" href=C:\Users\RAJ\IdeaProjects\xyz-bank-sw-5-factory-project-3-raj/test-output/html/customerShouldWithdrawMoneySuccessfullySun_Dec_11_15_48_05_GMT_2022.jpg><img src=C:\Users\RAJ\IdeaProjects\xyz-bank-sw-5-factory-project-3-raj/test-output/html/customerShouldWithdrawMoneySuccessfullySun_Dec_11_15_48_05_GMT_2022.jpg height=200 width=200></img></a></td></tr>
</table>