<h2>Reporter output</h2><table><tr><td>Click on bank manager login link[[ChromeDriver: chrome on WINDOWS (c6bdc64e1ef2f68f2ca141f21cdfc970)] -> xpath: //button[text()='Bank Manager Login']]</td></tr>
<tr><td>CLick on add customer tab[[ChromeDriver: chrome on WINDOWS (c6bdc64e1ef2f68f2ca141f21cdfc970)] -> xpath: //button[contains(text(),'Add Customer')]]</td></tr>
<tr><td>Enter first name [[ChromeDriver: chrome on WINDOWS (c6bdc64e1ef2f68f2ca141f21cdfc970)] -> xpath: //div[1]/input[1]]</td></tr>
<tr><td>Enter last name[[ChromeDriver: chrome on WINDOWS (c6bdc64e1ef2f68f2ca141f21cdfc970)] -> xpath: //input[@ng-model='lName']]</td></tr>
<tr><td>Enter postcode[[ChromeDriver: chrome on WINDOWS (c6bdc64e1ef2f68f2ca141f21cdfc970)] -> xpath: //input[@ng-model='postCd']]</td></tr>
<tr><td>Click on add to customer button[[ChromeDriver: chrome on WINDOWS (c6bdc64e1ef2f68f2ca141f21cdfc970)] -> xpath: //button[@type='submit']]</td></tr>
<tr><td>Get the text from alert</td></tr>
<tr><td>Click on ok button in alert</td></tr>
<tr><td>Click on bank manager login link[[ChromeDriver: chrome on WINDOWS (044cb149414d76c774e347e0bf7a5905)] -> xpath: //button[text()='Bank Manager Login']]</td></tr>
<tr><td>CLick on add customer tab[[ChromeDriver: chrome on WINDOWS (044cb149414d76c774e347e0bf7a5905)] -> xpath: //button[contains(text(),'Add Customer')]]</td></tr>
<tr><td>Enter first name [[ChromeDriver: chrome on WINDOWS (044cb149414d76c774e347e0bf7a5905)] -> xpath: //div[1]/input[1]]</td></tr>
<tr><td>Enter last name[[ChromeDriver: chrome on WINDOWS (044cb149414d76c774e347e0bf7a5905)] -> xpath: //input[@ng-model='lName']]</td></tr>
<tr><td>Enter postcode[[ChromeDriver: chrome on WINDOWS (044cb149414d76c774e347e0bf7a5905)] -> xpath: //input[@ng-model='postCd']]</td></tr>
<tr><td>Click on add to customer button[[ChromeDriver: chrome on WINDOWS (044cb149414d76c774e347e0bf7a5905)] -> xpath: //button[@type='submit']]</td></tr>
<tr><td>Get the text from alert</td></tr>
<tr><td>Click on ok button in alert</td></tr>
<tr><td>Click on open account tab[[ChromeDriver: chrome on WINDOWS (044cb149414d76c774e347e0bf7a5905)] -> xpath: //button[contains(text(),'Open Account')]]</td></tr>
<tr><td>Search customer name[[ChromeDriver: chrome on WINDOWS (044cb149414d76c774e347e0bf7a5905)] -> id: userSelect]</td></tr>
<tr><td>Select currency from dropdown[[ChromeDriver: chrome on WINDOWS (044cb149414d76c774e347e0bf7a5905)] -> id: currency]</td></tr>
<tr><td>Click on process button[[ChromeDriver: chrome on WINDOWS (044cb149414d76c774e347e0bf7a5905)] -> xpath: //button[contains(text(),'Process')]]</td></tr>
<tr><td>Get text from alert</td></tr>
<tr><td>CLick on ok in alert</td></tr>
<tr><td>Click on bank manager login link[[ChromeDriver: chrome on WINDOWS (a7f9771cbc7bbbe4e289bc176a4b62fa)] -> xpath: //button[text()='Bank Manager Login']]</td></tr>
<tr><td>CLick on add customer tab[[ChromeDriver: chrome on WINDOWS (a7f9771cbc7bbbe4e289bc176a4b62fa)] -> xpath: //button[contains(text(),'Add Customer')]]</td></tr>
<tr><td>Enter first name [[ChromeDriver: chrome on WINDOWS (a7f9771cbc7bbbe4e289bc176a4b62fa)] -> xpath: //div[1]/input[1]]</td></tr>
<tr><td>Enter last name[[ChromeDriver: chrome on WINDOWS (a7f9771cbc7bbbe4e289bc176a4b62fa)] -> xpath: //input[@ng-model='lName']]</td></tr>
<tr><td>Enter postcode[[ChromeDriver: chrome on WINDOWS (a7f9771cbc7bbbe4e289bc176a4b62fa)] -> xpath: //input[@ng-model='postCd']]</td></tr>
<tr><td>Click on add to customer button[[ChromeDriver: chrome on WINDOWS (a7f9771cbc7bbbe4e289bc176a4b62fa)] -> xpath: //button[@type='submit']]</td></tr>
<tr><td>Get the text from alert</td></tr>
<tr><td>Click on ok button in alert</td></tr>
<tr><td>Click on open account tab[[ChromeDriver: chrome on WINDOWS (a7f9771cbc7bbbe4e289bc176a4b62fa)] -> xpath: //button[contains(text(),'Open Account')]]</td></tr>
<tr><td>Search customer name[[ChromeDriver: chrome on WINDOWS (a7f9771cbc7bbbe4e289bc176a4b62fa)] -> id: userSelect]</td></tr>
<tr><td>Select currency from dropdown[[ChromeDriver: chrome on WINDOWS (a7f9771cbc7bbbe4e289bc176a4b62fa)] -> id: currency]</td></tr>
<tr><td>Click on process button[[ChromeDriver: chrome on WINDOWS (a7f9771cbc7bbbe4e289bc176a4b62fa)] -> xpath: //button[contains(text(),'Process')]]</td></tr>
<tr><td>Get text from alert</td></tr>
<tr><td>CLick on ok in alert</td></tr>
<tr><td>Click on home button[[ChromeDriver: chrome on WINDOWS (a7f9771cbc7bbbe4e289bc176a4b62fa)] -> xpath: //button[text()='Home']]</td></tr>
<tr><td>Click on customer login link[[ChromeDriver: chrome on WINDOWS (a7f9771cbc7bbbe4e289bc176a4b62fa)] -> xpath: //button[contains(text(),'Customer Login')]]</td></tr>
<tr><td>Select your name[[ChromeDriver: chrome on WINDOWS (a7f9771cbc7bbbe4e289bc176a4b62fa)] -> id: userSelect]</td></tr>
<tr><td>Click on login button[[ChromeDriver: chrome on WINDOWS (a7f9771cbc7bbbe4e289bc176a4b62fa)] -> xpath: //button[text()='Login']]</td></tr>
<tr><td>Click on deposit tab[[ChromeDriver: chrome on WINDOWS (a7f9771cbc7bbbe4e289bc176a4b62fa)] -> xpath: //button[contains(text(),'Deposit')]]</td></tr>
<tr><td>Enter amount[[ChromeDriver: chrome on WINDOWS (a7f9771cbc7bbbe4e289bc176a4b62fa)] -> xpath: //input[@ng-model='amount']]</td></tr>
<tr><td>Click on deposit button[[ChromeDriver: chrome on WINDOWS (a7f9771cbc7bbbe4e289bc176a4b62fa)] -> xpath: //button[text()='Deposit']]</td></tr>
<tr><td>Get deposit successful message[[ChromeDriver: chrome on WINDOWS (a7f9771cbc7bbbe4e289bc176a4b62fa)] -> xpath: //span[text()='Deposit Successful']]</td></tr>
<tr><td>Click on bank manager login link[[ChromeDriver: chrome on WINDOWS (e331ffe173fceffbd554fd49e3127642)] -> xpath: //button[text()='Bank Manager Login']]</td></tr>
<tr><td>CLick on add customer tab[[ChromeDriver: chrome on WINDOWS (e331ffe173fceffbd554fd49e3127642)] -> xpath: //button[contains(text(),'Add Customer')]]</td></tr>
<tr><td>Enter first name [[ChromeDriver: chrome on WINDOWS (e331ffe173fceffbd554fd49e3127642)] -> xpath: //div[1]/input[1]]</td></tr>
<tr><td>Enter last name[[ChromeDriver: chrome on WINDOWS (e331ffe173fceffbd554fd49e3127642)] -> xpath: //input[@ng-model='lName']]</td></tr>
<tr><td>Enter postcode[[ChromeDriver: chrome on WINDOWS (e331ffe173fceffbd554fd49e3127642)] -> xpath: //input[@ng-model='postCd']]</td></tr>
<tr><td>Click on add to customer button[[ChromeDriver: chrome on WINDOWS (e331ffe173fceffbd554fd49e3127642)] -> xpath: //button[@type='submit']]</td></tr>
<tr><td>Get the text from alert</td></tr>
<tr><td>Click on ok button in alert</td></tr>
<tr><td>Click on home button[[ChromeDriver: chrome on WINDOWS (e331ffe173fceffbd554fd49e3127642)] -> xpath: //button[text()='Home']]</td></tr>
<tr><td>Click on customer login link[[ChromeDriver: chrome on WINDOWS (e331ffe173fceffbd554fd49e3127642)] -> xpath: //button[contains(text(),'Customer Login')]]</td></tr>
<tr><td>Select your name[[ChromeDriver: chrome on WINDOWS (e331ffe173fceffbd554fd49e3127642)] -> id: userSelect]</td></tr>
<tr><td>Click on login button[[ChromeDriver: chrome on WINDOWS (e331ffe173fceffbd554fd49e3127642)] -> xpath: //button[text()='Login']]</td></tr>
<tr><td>Verify logout tabBy.xpath: //button[text()='Logout']</td></tr>
<tr><td>CLick on Logout button[[ChromeDriver: chrome on WINDOWS (e331ffe173fceffbd554fd49e3127642)] -> xpath: //button[text()='Logout']]</td></tr>
<tr><td>Verify your name text[[ChromeDriver: chrome on WINDOWS (e331ffe173fceffbd554fd49e3127642)] -> xpath: //label[text()='Your Name :']]</td></tr>
<tr><td>Click on bank manager login link[[ChromeDriver: chrome on WINDOWS (830cabbf9c95d52179daefd53fee689f)] -> xpath: //button[text()='Bank Manager Login']]</td></tr>
<tr><td>CLick on add customer tab[[ChromeDriver: chrome on WINDOWS (830cabbf9c95d52179daefd53fee689f)] -> xpath: //button[contains(text(),'Add Customer')]]</td></tr>
<tr><td>Enter first name [[ChromeDriver: chrome on WINDOWS (830cabbf9c95d52179daefd53fee689f)] -> xpath: //div[1]/input[1]]</td></tr>
<tr><td>Enter last name[[ChromeDriver: chrome on WINDOWS (830cabbf9c95d52179daefd53fee689f)] -> xpath: //input[@ng-model='lName']]</td></tr>
<tr><td>Enter postcode[[ChromeDriver: chrome on WINDOWS (830cabbf9c95d52179daefd53fee689f)] -> xpath: //input[@ng-model='postCd']]</td></tr>
<tr><td>Click on add to customer button[[ChromeDriver: chrome on WINDOWS (830cabbf9c95d52179daefd53fee689f)] -> xpath: //button[@type='submit']]</td></tr>
<tr><td>Get the text from alert</td></tr>
<tr><td>Click on ok button in alert</td></tr>
<tr><td>Click on open account tab[[ChromeDriver: chrome on WINDOWS (830cabbf9c95d52179daefd53fee689f)] -> xpath: //button[contains(text(),'Open Account')]]</td></tr>
<tr><td>Search customer name[[ChromeDriver: chrome on WINDOWS (830cabbf9c95d52179daefd53fee689f)] -> id: userSelect]</td></tr>
<tr><td>Select currency from dropdown[[ChromeDriver: chrome on WINDOWS (830cabbf9c95d52179daefd53fee689f)] -> id: currency]</td></tr>
<tr><td>Click on process button[[ChromeDriver: chrome on WINDOWS (830cabbf9c95d52179daefd53fee689f)] -> xpath: //button[contains(text(),'Process')]]</td></tr>
<tr><td>Get text from alert</td></tr>
<tr><td>CLick on ok in alert</td></tr>
<tr><td>Click on home button[[ChromeDriver: chrome on WINDOWS (830cabbf9c95d52179daefd53fee689f)] -> xpath: //button[text()='Home']]</td></tr>
<tr><td>Click on customer login link[[ChromeDriver: chrome on WINDOWS (830cabbf9c95d52179daefd53fee689f)] -> xpath: //button[contains(text(),'Customer Login')]]</td></tr>
<tr><td>Select your name[[ChromeDriver: chrome on WINDOWS (830cabbf9c95d52179daefd53fee689f)] -> id: userSelect]</td></tr>
<tr><td>Click on login button[[ChromeDriver: chrome on WINDOWS (830cabbf9c95d52179daefd53fee689f)] -> xpath: //button[text()='Login']]</td></tr>
<tr><td>Click on deposit tab[[ChromeDriver: chrome on WINDOWS (830cabbf9c95d52179daefd53fee689f)] -> xpath: //button[contains(text(),'Deposit')]]</td></tr>
<tr><td>Enter amount[[ChromeDriver: chrome on WINDOWS (830cabbf9c95d52179daefd53fee689f)] -> xpath: //input[@ng-model='amount']]</td></tr>
<tr><td>Click on deposit button[[ChromeDriver: chrome on WINDOWS (830cabbf9c95d52179daefd53fee689f)] -> xpath: //button[text()='Deposit']]</td></tr>
<tr><td>Get deposit successful message[[ChromeDriver: chrome on WINDOWS (830cabbf9c95d52179daefd53fee689f)] -> xpath: //span[text()='Deposit Successful']]</td></tr>
<tr><td>Click on home button[[ChromeDriver: chrome on WINDOWS (830cabbf9c95d52179daefd53fee689f)] -> xpath: //button[text()='Home']]</td></tr>
<tr><td>Click on customer login link[[ChromeDriver: chrome on WINDOWS (830cabbf9c95d52179daefd53fee689f)] -> xpath: //button[contains(text(),'Customer Login')]]</td></tr>
<tr><td>Click to see screenshot</td></tr>
<tr><td><a target = "_blank" href=C:\Users\RAJ\IdeaProjects\xyz-bank-sw-5-factory-project-3-raj/test-output/html/customerShouldWithdrawMoneySuccessfullyTue_Dec_13_19_45_57_GMT_2022.jpg>Screenshot</a></td></tr>
<tr><td><br></td></tr>
<tr><td><br></td></tr>
<tr><td><a target = "_blank" href=C:\Users\RAJ\IdeaProjects\xyz-bank-sw-5-factory-project-3-raj/test-output/html/customerShouldWithdrawMoneySuccessfullyTue_Dec_13_19_45_57_GMT_2022.jpg><img src=C:\Users\RAJ\IdeaProjects\xyz-bank-sw-5-factory-project-3-raj/test-output/html/customerShouldWithdrawMoneySuccessfullyTue_Dec_13_19_45_57_GMT_2022.jpg height=200 width=200></img></a></td></tr>
</table>